<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ea7a226074.js" crossorigin="anonymous"></script>
    {{!-- <link rel="preconnect" href="https://fonts.gstatic.com">  --}}
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Where In the World</title>
</head>
<body>
    
    <div class="body">

        <div class="header__container">
            {{> header}}
        </div>

    <script src="/js/darkMode.js"></script>

        <div class="main">

            <div class="main__search">

                <div class="main__search-SEARCH">
                    <form class="main__search-SEARCH-FORM" action="/search" method="get">
                        <i class="fas fa-search"></i>
                        <input class="main__search-SEARCH-FORM-INPUT fas fa-search" type="text" name="SEARCH" id="SEARCH" placeholder="Search for a country...">
                    </form>
                </div>


                <div class="main__search-FILTER">

                    <div class="main__search-FILTER-DROPDOWN">
                        <span class="main__search-FILTER-DROPDOWN-text">Filter by region</span>
                        <span class="main__search-FILTER-DROPDOWN-chevron"><i class="fas fa-chevron-down"></i></span>

                    </div>

                    <ul class="main__search-FILTER-FORM-list">
                        <li class="main__search-FILTER-FORM-list-option"><a href="/">All</a></li>
                        <li class="main__search-FILTER-FORM-list-option"><a href="/africa">Africa</a></li>
                        <li class="main__search-FILTER-FORM-list-option"><a href="/americas">Americas</a></li>
                        <li class="main__search-FILTER-FORM-list-option"><a href="/asia">Asia</a></li>
                        <li class="main__search-FILTER-FORM-list-option"><a href="/europe">Europe</a></li>
                        <li class="main__search-FILTER-FORM-list-option"><a href="/oceania">Oceania</a></li>
                    </ul>
                    
                </div>

            </div>

            <div class="main__countries">
                {{#each cards}}
                    {{> card}}
                {{/each}}
            </div>
        </div>

    </div>

    <script src="/js/script.js"></script>


</body>
</html>