


        <header class="header">
            <div class="header__title">
                <h1 class="header__title-name">Where in the world? 
                    
                </h1>
                <span class="header__title-globe" id="globeCrossfade">
                    
                    
                    <i class="fas fa-globe-americas" id="globeTwo"></i>
                    <i class="fas fa-globe-europe" id="globeTwo"></i>
                    <i class="fas fa-globe-africa"></i>
                    <i class="fas fa-globe-asia"></i>
                    
                </span>
            </div>



            <div class="header__darkMode">
                <label for="darkMode" class="header__darkMode-label">
                    {{!-- Dynamic Dark Mode HTML here --}}
                </label>
                <input class="header__darkMode-checkbox" type="checkbox" name="darkMode" id="darkMode">
                
            </div>
        </header>